## Генерация данных с библиотекой Faker

Устанавливаем библиотеку:

In [19]:
pip install faker

Requirement already satisfied: faker in c:\users\lebed\anaconda3\lib\site-packages (33.0.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\lebed\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\lebed\anaconda3\lib\site-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\lebed\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
# Так как мы хотим сгенерировать датасет, то в этом деле нам ещё панадобится pandas
import pandas as pd
from faker import Faker
# defaultdict это объект словаря в python, для которого можно задать тип его значений по умолчанию
from collections import defaultdict

Попробуем сгенерить таблицу в 1000 строк с данными о различных тороговых точках

In [21]:
fake = Faker() # Создаём объект fake для генерации данных
point_data = defaultdict(list) # подготавливаем словарь со списками по умолчанию для сбора таблицы

### Примеры генерации, используемые в этом кейсе

In [22]:
fake.company() # Генерим название компании

'Moore PLC'

In [23]:
fake.past_date() # Генерим дату из прошлого

datetime.date(2024, 10, 23)

In [24]:
fake.local_latlng() # Генерим геоточку в виде кортежа

('40.64621', '-73.97069', 'Kensington', 'US', 'America/New_York')

Каждый из методов faker, использованных здесь можно найти в документации: https://faker.readthedocs.io/en/master/

### Генерим датасет

In [25]:
for i in range(1000):
    point_data["id"].append(i)
    point_data['point_name'].append(fake.company())
    point_data['date_open'].append(fake.past_date())
    geo = fake.local_latlng()
    point_data['latitude'].append(geo[0])
    point_data['longitude'].append(geo[1])
    point_data['city'].append(geo[-1].split('/')[1])

In [26]:
df_point_data = pd.DataFrame(point_data)
df_point_data

,id,point_name,date_open,latitude,longitude,city
0,0,Reilly-Jenkins,2024-11-17,31.76212,-95.63079,Chicago
1,1,Gibson-Smith,2024-10-25,41.55815,-73.0515,New_York
2,2,Thomas Group,2024-10-21,41.66394,-83.55521,New_York
3,3,"King, Garcia and Chang",2024-11-11,31.76212,-95.63079,Chicago
4,4,Alvarez-Weber,2024-11-01,36.20829,-115.98391,Los_Angeles
...,...,...,...,...,...,...
995,995,Allen-Santiago,2024-10-28,33.54428,-84.23381,New_York
996,996,"Klein, Padilla and Gordon",2024-11-01,47.38093,-122.23484,Los_Angeles
997,997,Brown LLC,2024-11-18,41.50343,-74.01042,New_York
998,998,"Hernandez, Peters and Mcclure",2024-11-08,40.67705,-73.89125,New_York
999,999,Reed-Williams,2024-11-17,41.55815,-73.0515,New_York